{% extends "base.html" %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ user.username }}</h1>
    {#
    <!-- Commonly used Jinja2 filters (ex: {{ name|capitalize }})  
         safe
         capitalize
         lower
         upper
         title
         trim
         striptags

         Control structures:
         {% if user %}
         {% else %}
         {% endif %}

         {% for comment in comments %}
         {% endfor %}

         Macros (similar to function)
         {% macro render_comment(comment) %}
         {% endmacro %}
         can be stored in standalone files
         {import 'macros.html' as macros}
         {{macros.render_comment(comment)}}

         Portions of template code that need to be repeated in several places
         can be stored and included
         {% include 'common.html' %}

         Template inheritance
         base.html
         {% block head %}
            {% block title %}
            {% endblock %}
         {% endblock %}
         template.html
         {% extends "base.html" %}
         {% block head %}
            {{ super() }}
         {% endblock %}
    -->
    #}
    {% if user.name or user.location %}
    <p>
        {% if user.name %}{{ user.name }}{% endif %}
        {% if user.location %}
            From <a href="http://maps.google.com?q={{ user.location }}">
                {{ user.location }}
            </a>
        {% endif %}
    </p>
    {% endif %}
    {% if current_user.is_administrator() %}
    <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
    {% endif %}
    {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
    <p>
        Member since {{ moment(user.member_since).format('L') }}.
        Last since {{ moment(user.last_seen).fromNow() }}.
    </p>
</div>
{% endblock %}